.el-platform {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  background: url("../image/sub/img-us_fa_01--img01.png") no-repeat 0 0/auto;
  background-size: cover;
}
.el-platform__tit {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
}
.el-platform__txt2 {
  position: absolute;
  top: 250px;
  width: calc(100% - 160px);
  padding: 40px;
  font-size: 18px;
  color: #000;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.08);
  line-height: 1.5;
  text-align: center;
}
.el-platform__txt2 strong {
  font-weight: 500;
}
.el-platform--us_ce_01{
	background: url("../image/sub/img-us_ce_01--img01.png") no-repeat 0 0/auto;
}
.el-box{
	padding:37px 48px;
}
.el-box__tit{
	margin-bottom:23px;
	font-size:18px;
	font-weight:500;
}
.el-box__tit.mb-10{
	margin-bottom:10px;
}
.el-box__txt{
	font-size:16px;
	font-weight:200;
	line-height:1.5;
}
.el-box__txt strong{
	font-weight:400;
}
.el-box__dl{
	display:flex;
}
.el-box__dl dt{
	margin-right:17px;
	font-size:16px;
	font-weight:500;
	color:#747478;
}
.el-box__dl dd{
	font-size:16px;
	font-weight:500;
}
.el-box__dl dd + dt{
	margin-left:50px;
}
.el-box-capt{
	display:block;
	font-size:14px;
	color:#747478;
}
.el-platform--us_ce_02{
	background: url("../image/sub/img-us_ce_02--img01.png") no-repeat 0 0/auto;
}
.el-platform--us_ce_03{
	background: url("../image/sub/img-us_ce_03--img01.png") no-repeat 0 0/auto;
}
div[class*="box-group-ce02"]{
	width:calc(50% - 10px);
	padding:40px 0;
}
.table-us_ce_04_list td{
	text-align:center;
}
.table-us_ce_04_list td:first-child{
	text-align:left;
}
.table-us_ce_04_list td button{
	color:#000;
}
.permit-step{
	padding:40px 35px;
	background-color:#fff;	
}
.permit-list{
	align-items:center;
	margin-left:-45px;
}
.permit-item{
	margin-left:45px;
}
.permit-item + .permit-item{
	position:relative;
}
.permit-item + .permit-item::before{
	position:absolute;
	top:35%;
	left:-3px;
	width:7px;
	height:7px;
	border-radius:100%;
	border:1px solid #000;
	background-color:#fff;
	z-index:1;
	content:""
}
.permit-item + .permit-item:nth-child(even)::before{
	border:1px solid #2bb2eb
}
.permit-item + .permit-item:nth-child(odd)::before{
	border:1px solid #ffc000
}
.permit-item + .permit-item:last-child::before{
	left:10px;
	border:3px solid #ffc000
}
.permit-item + .permit-item::after{
	position:absolute;
	top: 36.7%;
	left: -45px;
	width: 42px;
	height:1px;
	border-top:1px dashed #000;
	background-color:#fff;
	z-index:1;
	content:""
}
.permit-item + .permit-item:nth-child(odd)::after{
	border-image: linear-gradient(to right, #65d3ffaa, #ffcdf3aa, #fbfcb9be);
	border-image-slice: 1;
}
.permit-item + .permit-item:nth-child(even)::after{
	border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
	border-image-slice: 1;
}
.permit-item + .permit-item:last-child::after{
	width:54px;
}
.permit-item__img{
	display:flex;
	align-items:center;
	min-height:206px;
}
.permit-item__txt{
	margin-top:10px;
}
.permit-item__txt p{
	font-size:17px;
	font-weight:500;
	text-align:center;
}
.permit-item__txt p span{
	display:block;
	margin-top:17px;
	font-size:15px;
	line-height:1.2;
}
.table-us_ce_05_list th, .table-us_ce_05_list td{
	border:1px solid #e9edee;
}
.table-us_ce_05_list th:first-child, .table-us_ce_05_list td:first-child{
	border-left:none;
}
.table-us_ce_05_list th:last-child, .table-us_ce_05_list td:last-child{
	border-right:none;
}
.table-us_ce_05_list tr:first-child th:first-child, .table-us_ce_05_list tr:first-child th:nth-child(2), .table-us_ce_05_list tr:first-child th:nth-child(3){
	text-align:center;
}
.table-us_ce_05_list th:nth-last-child(-n+4), .table-us_ce_05_list td:nth-last-child(-n+4){padding:15px 10px}
.table-us_ce_05_list .circle{
	display:inline-block;
	width:15px;
	height:15px;
	border:1px solid #355767;
	border-radius:100%;
	text-align:center;
}
.el-box__dl{
	display:flex;
}
.el-box__dl .dt{
	margin-right:17px;
	font-size:16px;
	font-weight:500;
	color:#747478;
}
.el-box__dl .dd{
	font-size:16px;
	font-weight:500;
}
.el-box__dl .dd + .dt{
	margin-left:50px;
}
.img_v > img {
	vertical-align: middle;
}